<!DOCTYPE html>
<html lang="en">
<head>
    <title>DPOI-2020</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="../../theme.css">
    <link rel="stylesheet" href="../../styles.css">
    <!--            <link rel="stylesheet" href="vertical.css">-->
    <link rel="stylesheet" href="horizontal.css">
    <link rel="stylesheet" media="print" href="../../print.css">

</head>
<body>
<h1>DPOI-Practice</h1>
<div>
    <section class="navigation">
        <h2>Navigation</h2>
        <ul>
            <li><a href="#users">
                Users
            </a></li>
            <li><a href="#newUser">New User</a></li>
        </ul>
    </section>
    <section class="content">
        <section id="users">
            <h2>Users</h2>
            <table id="usersTable">
                <thead>
                <tr>
                    <th rowspan="2" scope="col">Firstname</th>
                    <th rowspan="2" scope="col">Lastname</th>
                    <th rowspan="2" scope="col">Mail</th>
                    <th rowspan="2" scope="col">Phone</th>
                    <th colspan="3">Actions</th>
                </tr>
                <tr>
                    <th>View</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
        <section id="newUser">
            <h2>New User</h2>
            <form>
                <section>
                    <h3>Personal Data</h3>
                    <div class="form-column">
                        <div class="costume-input-content">
                            <label class="costume-label" for="name">Name</label>
                            <input id="name" type="text">
                        </div>
                        <div class="costume-input-content">
                            <label class="costume-label" for="surname">Surname</label>
                            <input id="surname" type="text">
                        </div>
                        <div class="costume-input-content">
                            <label class="costume-label" for="mail">Mail</label>
                            <input id="mail" type="text">
                        </div>
                        <div class="costume-input-content">
                            <label class="costume-label" for="phone">Phone</label>
                            <input id="phone" type="text">
                        </div>
                    </div>
                </section>
                <section>
                    <h3>Direction Data</h3>
                    <div class="form-column">
                        <div class="costume-input-content">
                            <label class="costume-label" for="street">Street</label>
                            <input id="street" type="text">
                        </div>
                        <div class="costume-input-content">
                            <label class="costume-label" for="provinces">Province</label>
                            <select id="provinces">
                                <option value="buenosAires">Buenos Aires</option>
                                <option value="cordoba">Córdoba</option>
                                <option value="mendoza">Mendoza</option>
                            </select>
                        </div>
                        <div class="costume-input-content">
                            <label class="costume-label" for="postalCode">Postal</label>
                            <input id="postalCode" type="text">
                        </div>
                    </div>
                </section>
                <section>
                    <h3>Other Data</h3>
                    <div class="form-column">
                        <div class="costume-input-content">
                            <label class="costume-label" for="birth">Date of birth</label>
                            <input id="birth" type="text" maxlength="10">
                        </div>
                        <div class="costume-input-content">
                            <label class="costume-label">
                                Marital Status
                            </label>
                            <div class="input-content-radio">
                                <input class="input-radio" type="radio" id="single" name="maritalStatus" value="single"
                                       checked>
                                <label class="input-radio-label" for="single">Single</label>
                                <input class="input-radio" type="radio" id="married" name="maritalStatus"
                                       value="married">
                                <label class="input-radio-label" for="married">Married</label>
                            </div>
                        </div>
                        <div class="costume-input-content">
                            <label class="costume-label" for="photo">Photo</label>
                            <input class="input-files" type="file" id="photo"
                                   accept="image/*">
                        </div>
                        <div class="costume-input-content">
                            <label class="costume-label" for="description">Description</label>
                            <textarea name="description" id="description"></textarea>
                        </div>
                    </div>
                </section>
                <div>
                    <input class="primary-button" type="submit" value="Submit">
                    <input class="danger-button" type="submit" value="Cancel">
                </div>
            </form>
        </section>
    </section>
</div>
<script type="module" src="users.js"></script>
</body>
</html>