:root {
    --bg-dark-color: #24305E;
    --bg-ligth-color: #A8D0E6;
    --success-color: #6DF794;
    --primary-color: #F76C6C;
    --warning-color: #F8E9A1;
    --danger-color: #54B8F7;

    --font-normal-size: 16px;
}

body {
    background: var(--bg-dark-color);
    color: #a0aced;
}

a, li {
    font-style: italic;
}

a {
    color: var(--warning-color);
}

li {
    color: var(--primary-color);
}

/*TITLES*/
h1, h2 {
    font-family: "Roboto Light", monospace;
    color: var(--primary-color);
    font-weight: bold;
}

h3, h4 {
    font-weight: bold;
    color: white;
}

h4 {
    font-style: italic;
}


/*TABLE STYLES*/
table {
    width: 100%;
}

th {
    color: var(--primary-color);
}

td {
    color: white;
}

td, th, table {
    border-collapse: collapse;
    border: 3px solid white;
    text-align: center;
}

table i {
    cursor: pointer;
}

/*INPUTS STYLES*/

.costume-input-content {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 5px;
    justify-content: stretch;
}

.costume-label {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 0 10px;
    min-width: 30%;
    background: white;
}

.input-content-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

input, textarea {
    width: 100%;
    padding: 0 5px;
    outline: none;
    background: none;
    color: white;
    border: none;
    font-size: var(--font-normal-size);
}

select {
    height: 100%;
    width: 100%;
    outline: none;
    background: none;
    color: white;
    border: none;
    font-size: var(--font-normal-size);
}

option {
    color: black;
}

.input-radio {
    width: 20px;
    color: white;
}

.input-radio, .input-radio-label {
    height: 20px;
    color: white;
}


/*BUTTONS STYLES*/
.primary-button {
    color: var(--success-color);
    border-color: var(--success-color);
    background: none;
}

.danger-button {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: none;
}

.primary-button, .danger-button {
    font-weight: bold;
    font-size: var(--font-normal-size);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-style: solid;
}

.loader-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid var(--primary-color);
    border-radius: 50%;
    width: 32px;
    height: 32px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}