:root {
    --bg-dark-color: #24305E;
    --bg-ligth-color: #A8D0E6;
    --success-color: #a5f7a1;
    --primary-color: #F76C6C;
    --warning-color: #F8E9A1;
    --danger-color: #F76C6C;

    --font-normal-size: 16px
}

body {
    background: var(--bg-dark-color);
    color: #8792cb;
}

a {
    color: var(--warning-color);
}

li {
    color: var(--primary-color);
}

/*TITLES*/
h1, h2 {
    font-family: "Roboto Light", monospace;
    color: var(--primary-color);
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: white;
}


/*TABLE STYLES*/
table {
    border: 2px solid white;
    border-radius: 10px;
    color: white;
}

thead {
}

/*INPUTS STYLES*/
.input-content {
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 5px;
    justify-content: space-between;
}

.input-label {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 0 10px;
    min-width: 30%;
    background: white;
}

.costume-input {
    padding: 0 10px;
    width: 100%;
}

.input-content-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

input, textarea {
    width: 100%;
    outline: none;
    background: none;
    color: white;
    border: none;
    font-size: var(--font-normal-size);
}


select {
    height: 100%;
    width: 100%;
    outline: none;
    background: none;
    color: white;
    border: none;
    font-size: var(--font-normal-size);
}

option {
    color: black;
}

.input-radio {
    width: 20px;
    color: white;
}

.input-radio, .input-radio-label {
    height: 20px;
    color: white;
}


/*BUTTONS STYLES*/
.primary-button {
    color: var(--success-color);
    border-color: var(--success-color);
    background: none;
}

.danger-button {
    color: var(--primary-color);
    border-color: var(--primary-color);
    background: none;
}

.primary-button, .danger-button {
    font-weight: bold;
    font-size: var(--font-normal-size);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border-style: solid;
}

