html {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    min-height: 100vh;
    margin: 0;

}


body section div {
    display: flex;
    flex-direction: column;
}

.concept-section {
    max-height: 400px;
    overflow-y: scroll;
}
